<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet"  type="text/css" media="all" th:href="@{/style/style.css}">
</head>

<body class="main">
<div th:replace="/includes/header :: content"></div>
<header style="background-color: lightgray; text-align: center; height: 55px; color:darkred;"><h1>Информационная система университета "Тест"</h1></header>
<div id="form">
    <table >
        <tr>
            <td style=" align-content: center;" >
                <h3>Авторизуйтесь, пожалуйста! </h3>
                <form action="#" class="base_mini">
                <label>Ваш логин</label><br>
                <input type="text"  name="login"><br>
                <label>Ваш пароль</label><br>
                <input type="text" password="pass">
                <br><br>
                <input type="submit" class="base_mini" value="Войти"></input>
            </form>
            </td>
        </tr>
    </table>
</div>
<div id="bottom" >
    <b>
        <footer style="background-color: lightgray; text-align: center; height: 55px; color:darkred;"><p>  @Все права защищены 2022 </p> </footer>
    </b>
</div>
</body>
</html>